@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-SemiBold.ttf");
  font-weight: 600;
}

:root {
  --primary-dark-blue: #101828;
  --primary-light-blue: #475467;
  --primary-dark-grey: #6C717B;
  --primary-light-red: #E44848;
  --primary-red: #D84343;
  --primary-yellow: #FFC531;
  --primary-light-grey: #DADDE1;
  --primary-very-ligth-grey: #F2F4F7;
  --primary-mostly-white: #F7F7F7;
  --primary-white: #FFFFFF;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  font-weight: 400;
  font-size: 16px;

  color: var(--primary-dark-blue);
}

/* reset styles */
*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: block;
  color: currentColor;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}